extends layout

block content
  h1 Аудитории

  ul
    each val in booking_list
      li(class='bookingstatus')
        a(href=val.url) #{val.aud}
        if val.status=='Available'
          a(href=val.url)
            span.text-success    Свободна
        else
          a(href=val.url)
            span.text-warning(style="color: red")    Занята
        if val.status!='Available'
          span  (Время: #{val.time}:00 )

    else
      li Нет свободных аудиторий.

  footer.footer
      button(class="button-number")
          a(href="tel:+73433899467", style="color: black", target="_blank") Деканат
      p(class="author") &#169; Матушкин Никита КН-303